.fc-day-fri,
.fc-day-thu,
.fc-day-wed,
.fc-day-tue,
.fc-day-mon {
  background: rgb(255, 255, 255);
}
.fc-day-sat,
.fc-day-sun {
  background: rgb(246, 246, 246);
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: rgb(255, 228, 241);
}
a {
  color: rgb(114, 114, 114) !important;
  text-decoration: none;
  cursor: none;
}
.fc .fc-col-header-cell-cushion {
  color: #333 !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  border-radius: 255px 25px 225px 25px / 25px 225px 25px 255px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
button.fc-today-button.fc-button.fc-button-primary {
  border-radius: 255px 25px 225px 25px / 25px 225px 25px 255px;
}

.fc-header-toolbar.fc-toolbar {
  justify-content: flex-end;
}
.fc-toolbar-title {
  font-weight: 500;
  margin-right: 12px !important;
}
