.fc-day-fri,
.fc-day-thu,
.fc-day-wed,
.fc-day-tue,
.fc-day-mon {
  background: rgb(255, 255, 255);
}
.fc-day-sat,
.fc-day-sun {
  background: rgb(246, 246, 246);
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: rgb(255, 228, 241);
  border-radius: 6px;
}
a {
  color: rgb(114, 114, 114) !important;
  text-decoration: none;
  /* cursor: none; */
}
.fc .fc-col-header-cell-cushion {
  color: #333 !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  border-radius: 255px 25px 225px 25px / 25px 225px 25px 255px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
button.fc-today-button.fc-button.fc-button-primary {
  border-radius: 255px 25px 225px 25px / 25px 225px 25px 255px;
}

.fc-header-toolbar.fc-toolbar {
  justify-content: flex-end;
}
.fc-toolbar-title {
  font-weight: 500;
  margin-right: 12px !important;
}
.fc .fc-button-primary {
  background-color: rgb(47 111 235);
  border-color: rgb(47 111 235);
}
.fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #90b6ff;
  border-color: #90b6ff;
}
.fc .fc-button-primary:disabled {
  background-color: #90b6ff;
  border-color: #90b6ff;
  font-weight: 500;
}
.fc .fc-button-primary:hover {
  background-color: #90b6ff;
  border-color: #90b6ff;
}
.fc .fc-button-primary:focus {
  box-shadow: none;
}
.fc .fc-button-primary:not(:disabled):active:focus, .fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: 0 0 0 .2rem #bddeff80;
}
.fc .fc-daygrid-day-frame {
  border: none !important;
}
.fc-scroller table,
th,
td {
  border: none;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: none !important;
}
.fc-theme-standard .fc-scrollgrid {
  border: none !important;
}
